@font-face {
  font-family: "ibm-plex-serifbold";
  src: url("./assets/fonts/ibmplexserif-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-bold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifbold_italic";
  src: url("./assets/fonts/ibmplexserif-bolditalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-bolditalic-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifextralight";
  src: url("./assets/fonts/ibmplexserif-extralight-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifXLtIt";
  src: url("./assets/fonts/ibmplexserif-extralightitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-extralightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifitalic";
  src: url("./assets/fonts/ibmplexserif-italic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_seriflight";
  src: url("./assets/fonts/ibmplexserif-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_seriflight_italic";
  src: url("./assets/fonts/ibmplexserif-lightitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifmedium";
  src: url("./assets/fonts/ibmplexserif-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifmedium_italic";
  src: url("./assets/fonts/ibmplexserif-mediumitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifregular";
  src: url("./assets/fonts/ibmplexserif-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifsemibold";
  src: url("./assets/fonts/ibmplexserif-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexserif-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_serifsemibold_italic";
  src: url("./assets/fonts/ibmplexserif-semibolditalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexserif-semibolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansbold";
  src: url("./assets/fonts/ibmplexsans-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexsans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansbold_italic";
  src: url("./assets/fonts/ibmplexsans-bolditalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansextralight";
  src: url("./assets/fonts/ibmplexsans-extralight-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansXLtIt";
  src: url("./assets/fonts/ibmplexsans-extralightitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-extralightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansitalic";
  src: url("./assets/fonts/ibmplexsans-italic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexsans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanslight";
  src: url("./assets/fonts/ibmplexsans-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanslight_italic";
  src: url("./assets/fonts/ibmplexsans-lightitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansmedium";
  src: url("./assets/fonts/ibmplexsans-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexsans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sansmedium_italic";
  src: url("./assets/fonts/ibmplexsans-mediumitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexsansregular";
  src: url("ibmplexsans-regular-webfont.woff2") format("woff2"),
    url("ibmplexsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanssemibold";
  src: url("./assets/fonts/ibmplexsans-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexsans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_sanssemibold_italic";
  src: url("./assets/fonts/ibmplexsans-semibolditalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/ibmplexsans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ibm_plex_monobold";
  src: url("./assets/fonts/ibmplexmono-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monobold_italic";
  src: url("./assets/fonts/ibmplexmono-bolditalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monoextralight";
  src: url("./assets/fonts/ibmplexmono-extralight-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monoXLtIt";
  src: url("./assets/fonts/ibmplexmono-extralightitalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monoitalic";
  src: url("./assets/fonts/ibmplexmono-italic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monolight";
  src: url("ibmplexmono-light-webfont.woff2") format("woff2"),
    url("ibmplexmono-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monolight_italic";
  src: url("./assets/fonts/ibmplexmono-lightitalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monomedium";
  src: url("./assets/fonts/ibmplexmono-medium-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monomedium_italic";
  src: url("./assets/fonts/ibmplexmono-mediumitalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibmplexmonoregular";
  src: url("./assets/fonts/ibmplexmono-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monosemibold";
  src: url("./assets/fonts/ibmplexmono-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ibm_plex_monosemibold_italic";
  src: url("./assets/fonts/ibmplexmono-semibolditalic-webfont.woff2") format("woff2"),
    url("./assets/fonts/ibmplexmono-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
